<%# <div class="row justify-content-center banner"> %>
<div class="justify-content-center m-0 custom-banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center pt-10"
  >
    <%= image_tag 'my_logo.png', alt: "profile photo", class: 'avatar' %>
    <%# <h1 class="title-main">Portfolio</h1> %>
  </div>
</div>
