#about {
  text-align: center; /* Horizontally centers the text */
  max-width: 600px; /* Optional: to limit the width of the content */
  margin: 0 auto; /* Centers the container horizontally */
  padding: 20px; /* Optional: to add some padding */
}

// .container {
//   display: flex;
//   justify-content: center; /* Horizontally center the content */
//   align-items: center; /* Vertically center the content */
//   height: 100vh; /* Full viewport height */
// }
